<h2>Account Information</h2>


@using (Html.BeginForm("AccountUpdate", "Account", FormMethod.Post))

{
    <table>
        <tr>
            <td>Username:</td>
            <td>@Model.Username </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="firstName" value="@Model.FirstName ?? " "" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="lastName" value="@Model.LastName ?? " "" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" value="@Model.Email ?? " "" /></td>
        </tr>
    </table>

    <input type="submit" value="Save" />
}

<div>
    <a href="@Url.Action("Index", "Home")">Back to Home</a>
</div>