<h2>Account Information</h2>

@model User

<!-- Table 1: Current values -->
<table>
    <tr>
        <td>Username:</td>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <td>First Name:</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
</table>

<!-- Table 2: Editable textboxes -->
<form action="@Url.Action("AccountUpdate", "Home")" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <table style="display:none" id="editTable">
        <tr>
            <td>Username:</td>
            <td>@Model.Username</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="firstName" value="@Model.FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="lastName" value="@Model.LastName" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="password" value="@Model.Password" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" value="@Model.Email" /></td>
        </tr>
        <tr>
            <td><input type="hidden" name="id" value="@Model.Id" /></td>
        </tr>
    </table>
    <button type="button" id="update-btn" onclick=" showEditTable()">Update</button>
    <input type="submit" value="Save" style="display:none" id="saveButton" />
</form>

<script>

    function showEditTable() {
        var updateBtn = document.getElementById("update-btn");
        var editTable = document.getElementById("editTable");

        // Hide the update button and show the edit table
        updateBtn.style.display = "none";
        editTable.style.display = "table";
    }
</script>

<div>
    <a href="@Url.Action("Index", "Home")">Back to Home</a>
</div>