@model Resources.BestiaryViewModel
<h1>Creatures List</h1>

@{
    string jsonFilePath = ViewData["JsonFilePath"]?.ToString() ?? "";
}
@*<h1>@Model.SelectedBook</h1>*@
@if (Model != null )
{   
    <h1>@jsonFilePath</h1>
    <h1>@Model.JsonFilePath</h1>
    <form method="post" action="@Url.Action("SelectCreature")">
        <select id="creatureDropdown" name="SelectCreature">
        <option value="">Select a creature</option>
        @foreach (var creature in ViewBag.Creatures ?? Enumerable.Empty<SelectListItem>())
        {
                <option value="@creature.Value">@creature.Text</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>
}
else
{
    <p>No creatures found.</p>
}


@if (Model.SelectedCreature != null )
{
    <h1>Model.SelectedCreature not null</h1>
    <h1>@Model.SelectedCreature</h1>
}
@if (Model.SelectedCreature != null)
{
    <h1>@Model.SelectedCreature.name</h1>
}


@section Scripts{
        <script>
            $(function() {
                $('#creatureDropdown').on('change', function() {
                    $('#creatureForm').submit();
                });
            });
        </script>
}



