@model PathfinderToolkit.Models.Resources.Actions
@using System.Linq
<main>
<form method="post">
    <select id="actionDropdown" name="actionDropdown">
        <option value="">Select an action</option>
            @foreach (var action in ((IEnumerable<SelectListItem>)ViewBag.Actions ?? Enumerable.Empty<SelectListItem>()).OrderBy(a => a.Text))
        {
            <option value="@action.Value">@action.Text</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>

@if (Model != null)
{
    <div class="ability-table">
        <div class="ability-container">
            <div class="ability-header">Name</div>
            <div class="ability-content ability-name">@Model.name</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Activity</div>
            <div class="ability-content">
                @if (Model.activity != null)
                {
                    <ul>
                        <li>Name: @Model.activity.number</li>
                        <li>Type: @Model.activity.entry</li>
                        <li>Components: @Model.activity.unit</li>
                    </ul>
                }
                else
                {
                    <p>No activity available</p>
                }
            </div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Source</div>
            <div class="ability-content">@Model.source</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Page</div>
            <div class="ability-content">@Model.page</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Traits</div>
            <div class="ability-content">
                    @if (Model.traits != null)
                    {
                        <ul>
                            @foreach (var trait in Model.traits)
                            {
                                <li>@trait</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No traits available</p>
                    }
            </div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Requirements</div>
            <div class="ability-content">@(Model.requirements ?? "")</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Entries</div>
            <div class="ability-content">
                @if (Model.entries != null)
                {
                    <ul>
                        @foreach (var entry in Model.entries)
                        {
                            <li>@entry</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No entries available</p>
                }
            </div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Trigger</div>
            <div class="ability-content">@(Model.trigger ?? "")</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Frequency</div>
            <div class="ability-content">@(Model.frequency != null ? $"{Model.frequency.freq} per {Model.frequency.special}" : "")</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">ActionType</div>
            <div class="ability-content">@Model.actionType</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Info</div>
            <div class="ability-content">
                @if (Model.info != null)
                {
                    <ul>
                        @foreach (var info in Model.info)
                        {
                            <li>@info</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No info available</p>
                }
            </div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Cost</div>
            <div class="ability-content">@Model.cost</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Add_hash</div>
            <div class="ability-content">@Model.add_hash</div>
        </div>
     </div>
         
}
</main>