@model Resources.Afflictions

<h1>Afflictions</h1>

<form method="post">
    <input type="hidden" name="SelectedCurseName" value="@Model.SelectedCurse" />
    <select id="curseDropdown" name="curseDropdown">
        <option value="">Select a Curse</option>

        @foreach (var curse in ViewBag.CurseList ?? Enumerable.Empty<SelectListItem>())
        {
            <option value="@curse.Value">@curse.Text</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>

<form method="post">
    <input type="hidden" name="SelectedDiseaseName" value="@Model.SelectedDisease" />
    <select id="diseaseDropdown" name="diseaseDropdown">
        <option value="">Select a Disease</option>
        @foreach (var disease in ViewBag.DiseaseList ?? Enumerable.Empty<SelectListItem>())
        {
            <option value="@disease.Value">@disease.Text</option>
        }
    </select>
    <button type="submit">Submit</button>
</form>

@if (Model.SelectedCurse != null)
{
    <h2>Selected Curse: @Model.SelectedCurse.name</h2>
    <div class="ability-table">
        <div class="ability-container">
            <div class="ability-header">Name</div>
            <div class="ability-content ability-name">@Model.SelectedCurse.name</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Source</div>
            <div class="ability-content">@Model.SelectedCurse.source?.ToString()</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Page</div>
            <div class="ability-content">@Model.SelectedCurse.page</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Type</div>
            <div class="ability-content">@Model.SelectedCurse.type?.ToString()</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Level</div>
            <div class="ability-content">@Model.SelectedCurse.level?.ToString()</div>
        </div>
        <div class="ability-container">
            <div class="ability-header">Traits</div>
            <div class="ability-content">@string.Join(", ", Model.SelectedCurse.traits ?? new List<string>())</div>
        </div>
    </div>
             
  
}


@if (Model.SelectedDisease != null)
{
    <h2>Selected Disease: @Model.SelectedDisease.name</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Source</th>
                <th>Page</th>
                <th>Type</th>
                <th>Level</th>
                <th>Traits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.SelectedDisease.name</td>
                <td>@Model.SelectedDisease.source?.ToString()</td>
                <td>@Model.SelectedDisease.page</td>
                <td>@Model.SelectedDisease.type?.ToString()</td>
                <td>@Model.SelectedDisease.level.ToString()</td>
                <td>@string.Join(", ", Model.SelectedDisease.traits ?? new List<string>())</td>
            </tr>

        </tbody>
    </table>
}