@model Resources.BestiaryViewModel

@{
    ViewData["Title"] = "Bestiary";
}

<h1>Bestiary</h1>

@if (Model != null && Model.BookDropdown != null && Model.BookDropdown.Any())
{
    <form method="post" action="@Url.Action("Bestiary")">
        <select id="bookList" name="SelectedBook">
            <option value="">Select a Book</option>
            @foreach (var book in Model.BookDropdown ?? Enumerable.Empty<SelectListItem>())
            {
                <option value="@book.Value">@book.Text</option>
            }
        </select>
        <button type="submit">Submit</button>
    </form>
}
else
{
    <p>No books found.</p>
}

@if (Model.SelectedBook != null)
{
    <h1>@Model.SelectedBook</h1>
    <form method="post" action="@Url.Action("SelectCreature")">
        <input type="hidden" name="SelectedBook" value="@Model.SelectedBook" />
        <input type="hidden" name="JsonFilePath" value="@Model.JsonFilePath" />
        <input type="hidden" name="SelectedCreature" value="@Model.SelectedCreature" />
        <select id="creatureList" name="SelectedCreatureName" >
            <option value="">Select a creature</option>
            @foreach (var creature in ViewBag.Creatures ?? Enumerable.Empty<SelectListItem>())
            {   
                if (Model.SelectedCreature != null )
                {
                    <option value="@creature.Value" selected>@creature.Text</option>
                }
                else
                {
                    <option value="@creature.Value">@creature.Text</option>
                }
            }
        </select>
        <button type="submit">Submit</button>
    </form>
}

@if (Model.SelectedCreature != null)
{
    <h1>"Name: " @Model.SelectedCreature.name</h1>
    <h1>"Level" @Model.SelectedCreature.level</h1>
}
@{
    ViewData["JsonFilePath"] = Model.JsonFilePath;
}
@section Scripts{
    <script>
        $(function () {
            $('#bookList').on('change', function () {
                $('#bookForm').submit();
            });
            $('#creatureList').on('change', function () {
                $('#creatureForm').submit();
            });
        });
        $(document).ready(function () {
            // Update the value of the hidden input field whenever a new book is selected
            $('#bookDropdown').on('change', function () {
                $('#SelectedBook').val($(this).val());
            });
        });
    </script>
}

