@model Resources.BestiaryViewModel

@{
    ViewData["Title"] = "Bestiary";
}

<h1>Bestiary</h1>

@if (Model != null && Model.BookDropdown != null && Model.BookDropdown.Any())
{
    <form method="post" action="@Url.Action("Bestiary")">
        <select id="bookList" name="SelectedBook">
            <option value="">Select a Book</option>
            @foreach (var book in ((IEnumerable<SelectListItem>)Model.BookDropdown ?? Enumerable.Empty<SelectListItem>()).OrderBy(a => a.Text))
            {
                <option value="@book.Value">@book.Text</option>
            }
        </select>
        <button type="submit">Submit</button>
    </form>
}
else
{
    <p>No books found.</p>
}

@if (Model.SelectedBook != null)
{
    <h1>@Model.SelectedBook</h1>
    <form method="post" action="@Url.Action("SelectCreature")">
        <input type="hidden" name="SelectedBook" value="@Model.SelectedBook" />
        <input type="hidden" name="JsonFilePath" value="@Model.JsonFilePath" />
        <input type="hidden" name="SelectedCreature" value="@Model.SelectedCreature" />
        <select id="creatureList" name="SelectedCreatureName" >
            <option value="">Select a creature</option>
            @foreach (var creature in ((IEnumerable<SelectListItem>)ViewBag.Creatures ?? Enumerable.Empty<SelectListItem>()).OrderBy(a => a.Text))
            {   
                if (Model.SelectedCreature != null )
                {
                    var selectedCreature = Model.Creatures.FirstOrDefault(c => c.name == creature.Text);
                    <option value="@creature.Value"selected>@creature.Text</option>
                }
                else
                {
                    <option value="@creature.Value">@creature.Text</option>
                }
            }
        </select>
        <button type="submit">Submit</button>
    </form>
}

@if (Model.SelectedCreature != null)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>AC</th>
                <th>Traits</th>
                <th>Perception</th>
                <th>Languages</th>
                <th>Speed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.SelectedCreature.name</td>
                <td>@Model.SelectedCreature.level</td>
                <td>@Html.DisplayFor(m => m.SelectedCreature.defenses.ac)</td>
                <td>@Html.Raw(string.Join("<br/>", Model.SelectedCreature.traits))</td>
                <td>@Html.DisplayFor(m => m.SelectedCreature.perception)</td>
                <td>@foreach (var language in Model.SelectedCreature.languages.languages)
    {
        @language<br>
    }</td>
                @if (Model.SelectedCreature.speed.walk != 0)
                {
                    <td>Walk: @Model.SelectedCreature.speed.walk</td>
                }
                @if (Model.SelectedCreature.speed.climb.HasValue)
                {
                    <td>Climb: @Model.SelectedCreature.speed.climb</td>
                }
                else
                {
                    <td></td>
                }
                @if (Model.SelectedCreature.speed.fly.HasValue)
                {
                    <td>Fly: @Model.SelectedCreature.speed.fly</td>
                }
                else
                {
                    <td></td>
                }
                @if (Model.SelectedCreature.speed.swim.HasValue)
                {
                    <td>Swim @Model.SelectedCreature.speed.swim</td>
                }
                else
                {
                    <td></td>
                }
            </tr>            
        </tbody>
    </table>
}


@section Scripts{
    <script>
        $(function () {
            $('#bookList').on('change', function () {
                $('#bookForm').submit();
            });
            $('#creatureList').on('change', function () {
                $('#creatureForm').submit();
            });
        });
        $(document).ready(function () {
            // Update the value of the hidden input field whenever a new book is selected
            $('#bookDropdown').on('change', function () {
                $('#SelectedBook').val($(this).val());
            });
        });
    </script>
}

